etc/schemas/allg000007.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Michael Wilz (Rechenzentrum der Finanzverwaltung NRW) -->
<!-- Version 7.04 -->
<xs:schema targetNamespace="http://www.elster.de/2002/XMLSchema" xmlns:elster="http://www.elster.de/2002/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Definierung globaler simple Types________________________________________________________-->
	<xs:element name="Allg">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Änderungen zur Version 6</xs:documentation>
			<xs:documentation xml:lang="DE">bei Auslandsadressen entfällt das Tag "Laenderschluessel" </xs:documentation>
			<xs:documentation xml:lang="DE">Wegfall "vd" als zulässiges Konfessionskürzel</xs:documentation>
			<xs:documentation xml:lang="DE">Überprüfung der ersten beiden Stellen des AGS auf zulässige Ländernummer</xs:documentation>
			<xs:documentation xml:lang="DE">Adressen : zu einer Postfachadresse ist nun auch ein PostfachOrt zu übermitteln</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- A -->
	<xs:simpleType name="allg_AnschriftenZusatzSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Zusatz zu einer Anschrift 40stellig </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_AuslandsPLZSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Zusammensetzung:</xs:documentation>
			<xs:documentation xml:lang="DE"> 3 Stellen Länderkennzeichen </xs:documentation>
			<xs:documentation xml:lang="DE">10 Stellen Auslandspostleitzahl </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
			<xs:pattern value="AFG.*"/>
			<xs:pattern value="ET .*"/>
			<xs:pattern value="AL .*"/>
			<xs:pattern value="DZ .*"/>
			<xs:pattern value="AJ .*"/>
			<xs:pattern value="AS .*"/>
			<xs:pattern value="AND.*"/>
			<xs:pattern value="AGO.*"/>
			<xs:pattern value="ANG.*"/>
			<xs:pattern value="AT .*"/>
			<xs:pattern value="ANT.*"/>
			<xs:pattern value="AQU.*"/>
			<xs:pattern value="RA .*"/>
			<xs:pattern value="ARM.*"/>
			<xs:pattern value="ASE.*"/>
			<xs:pattern value="ETH.*"/>
			<xs:pattern value="AUS.*"/>
			<xs:pattern value="BS .*"/>
			<xs:pattern value="BRN.*"/>
			<xs:pattern value="BD .*"/>
			<xs:pattern value="BDS.*"/>
			<xs:pattern value="B  .*"/>
			<xs:pattern value="BH .*"/>
			<xs:pattern value="DY .*"/>
			<xs:pattern value="BER.*"/>
			<xs:pattern value="BHT.*"/>
			<xs:pattern value="BOL.*"/>
			<xs:pattern value="BIH.*"/>
			<xs:pattern value="RB .*"/>
			<xs:pattern value="BR .*"/>
			<xs:pattern value="BJ .*"/>
			<xs:pattern value="BRU.*"/>
			<xs:pattern value="BG .*"/>
			<xs:pattern value="HV .*"/>
			<xs:pattern value="RU .*"/>
			<xs:pattern value="CUE.*"/>
			<xs:pattern value="RCH.*"/>
			<xs:pattern value="TJ .*"/>
			<xs:pattern value="COI.*"/>
			<xs:pattern value="CR .*"/>
			<xs:pattern value="CI .*"/>
			<xs:pattern value="DK .*"/>
			<xs:pattern value="WD .*"/>
			<xs:pattern value="DOM.*"/>
			<xs:pattern value="DSC.*"/>
			<xs:pattern value="EC .*"/>
			<xs:pattern value="ES .*"/>
			<xs:pattern value="ERI.*"/>
			<xs:pattern value="EST.*"/>
			<xs:pattern value="FAL.*"/>
			<xs:pattern value="FR .*"/>
			<xs:pattern value="FJI.*"/>
			<xs:pattern value="FIN.*"/>
			<xs:pattern value="F  .*"/>
			<xs:pattern value="FG .*"/>
			<xs:pattern value="FP .*"/>
			<xs:pattern value="GAB.*"/>
			<xs:pattern value="WAG.*"/>
			<xs:pattern value="GEO.*"/>
			<xs:pattern value="GH .*"/>
			<xs:pattern value="GIB.*"/>
			<xs:pattern value="WG .*"/>
			<xs:pattern value="GR .*"/>
			<xs:pattern value="GRO.*"/>
			<xs:pattern value="GB .*"/>
			<xs:pattern value="GUA.*"/>
			<xs:pattern value="GUM.*"/>
			<xs:pattern value="GCA.*"/>
			<xs:pattern value="RG .*"/>
			<xs:pattern value="GUB.*"/>
			<xs:pattern value="GUY.*"/>
			<xs:pattern value="RH .*"/>
			<xs:pattern value="HCA.*"/>
			<xs:pattern value="HOK.*"/>
			<xs:pattern value="IND.*"/>
			<xs:pattern value="RI .*"/>
			<xs:pattern value="MAN.*"/>
			<xs:pattern value="IRQ.*"/>
			<xs:pattern value="IR .*"/>
			<xs:pattern value="IRL.*"/>
			<xs:pattern value="IS .*"/>
			<xs:pattern value="IL .*"/>
			<xs:pattern value="I  .*"/>
			<xs:pattern value="JA .*"/>
			<xs:pattern value="J  .*"/>
			<xs:pattern value="YEM.*"/>
			<xs:pattern value="JOR.*"/>
			<xs:pattern value="YU .*"/>
			<xs:pattern value="KAI.*"/>
			<xs:pattern value="K  .*"/>
			<xs:pattern value="CAM.*"/>
			<xs:pattern value="CDN.*"/>
			<xs:pattern value="KAN.*"/>
			<xs:pattern value="CV .*"/>
			<xs:pattern value="KAS.*"/>
			<xs:pattern value="QAT.*"/>
			<xs:pattern value="EAK.*"/>
			<xs:pattern value="KIS.*"/>
			<xs:pattern value="KIB.*"/>
			<xs:pattern value="CO .*"/>
			<xs:pattern value="KOM.*"/>
			<xs:pattern value="RCB.*"/>
			<xs:pattern value="ZRE.*"/>
			<xs:pattern value="KOR.*"/>
			<xs:pattern value="ROK.*"/>
			<xs:pattern value="HR .*"/>
			<xs:pattern value="C  .*"/>
			<xs:pattern value="KWT.*"/>
			<xs:pattern value="LAO.*"/>
			<xs:pattern value="LS .*"/>
			<xs:pattern value="LV .*"/>
			<xs:pattern value="RL .*"/>
			<xs:pattern value="LB .*"/>
			<xs:pattern value="LAR.*"/>
			<xs:pattern value="FL .*"/>
			<xs:pattern value="LT .*"/>
			<xs:pattern value="L  .*"/>
			<xs:pattern value="MAC.*"/>
			<xs:pattern value="RM .*"/>
			<xs:pattern value="MK .*"/>
			<xs:pattern value="MW .*"/>
			<xs:pattern value="MAL.*"/>
			<xs:pattern value="BIO.*"/>
			<xs:pattern value="RMM.*"/>
			<xs:pattern value="M  .*"/>
			<xs:pattern value="MA .*"/>
			<xs:pattern value="MAR.*"/>
			<xs:pattern value="MAT.*"/>
			<xs:pattern value="RIM.*"/>
			<xs:pattern value="MS .*"/>
			<xs:pattern value="MAY.*"/>
			<xs:pattern value="MEX.*"/>
			<xs:pattern value="MIK.*"/>
			<xs:pattern value="MD .*"/>
			<xs:pattern value="MC .*"/>
			<xs:pattern value="MON.*"/>
			<xs:pattern value="MOT.*"/>
			<xs:pattern value="MOZ.*"/>
			<xs:pattern value="MYA.*"/>
			<xs:pattern value="SWA.*"/>
			<xs:pattern value="NAU.*"/>
			<xs:pattern value="NEP.*"/>
			<xs:pattern value="NKA.*"/>
			<xs:pattern value="NZ .*"/>
			<xs:pattern value="NIC.*"/>
			<xs:pattern value="NL .*"/>
			<xs:pattern value="NLA.*"/>
			<xs:pattern value="RN .*"/>
			<xs:pattern value="WAN.*"/>
			<xs:pattern value="NIU.*"/>
			<xs:pattern value="NMA.*"/>
			<xs:pattern value="N  .*"/>
			<xs:pattern value="MAO.*"/>
			<xs:pattern value="A  .*"/>
			<xs:pattern value="PK .*"/>
			<xs:pattern value="PAL.*"/>
			<xs:pattern value="PA .*"/>
			<xs:pattern value="PNG.*"/>
			<xs:pattern value="PY .*"/>
			<xs:pattern value="PIN.*"/>
			<xs:pattern value="PE .*"/>
			<xs:pattern value="RP .*"/>
			<xs:pattern value="PIT.*"/>
			<xs:pattern value="PL .*"/>
			<xs:pattern value="P  .*"/>
			<xs:pattern value="PRI.*"/>
			<xs:pattern value="REU.*"/>
			<xs:pattern value="RWA.*"/>
			<xs:pattern value="RO .*"/>
			<xs:pattern value="RUS.*"/>
			<xs:pattern value="PIE.*"/>
			<xs:pattern value="SOL.*"/>
			<xs:pattern value="Z  .*"/>
			<xs:pattern value="WS .*"/>
			<xs:pattern value="RSM.*"/>
			<xs:pattern value="STP.*"/>
			<xs:pattern value="SAU.*"/>
			<xs:pattern value="S  .*"/>
			<xs:pattern value="CH .*"/>
            <xs:pattern value="SCG.*"/>
			<xs:pattern value="SN .*"/>
			<xs:pattern value="SY .*"/>
			<xs:pattern value="WAL.*"/>
			<xs:pattern value="ZW .*"/>
			<xs:pattern value="SGP.*"/>
			<xs:pattern value="SK .*"/>
			<xs:pattern value="SLO.*"/>
			<xs:pattern value="SP .*"/>
			<xs:pattern value="E  .*"/>
			<xs:pattern value="CL .*"/>
			<xs:pattern value="HEL.*"/>
			<xs:pattern value="SCN.*"/>
			<xs:pattern value="WL .*"/>
			<xs:pattern value="WV .*"/>
			<xs:pattern value="ZA .*"/>
			<xs:pattern value="SUD.*"/>
			<xs:pattern value="SME.*"/>
			<xs:pattern value="SD .*"/>
			<xs:pattern value="SYR.*"/>
			<xs:pattern value="TAD.*"/>
			<xs:pattern value="RC .*"/>
			<xs:pattern value="EAT.*"/>
			<xs:pattern value="T  .*"/>
			<xs:pattern value="OTI.*"/>
			<xs:pattern value="TG .*"/>
			<xs:pattern value="TOK.*"/>
			<xs:pattern value="TON.*"/>
			<xs:pattern value="TT .*"/>
			<xs:pattern value="CHD.*"/>
			<xs:pattern value="CZ .*"/>
			<xs:pattern value="TN .*"/>
			<xs:pattern value="TR .*"/>
			<xs:pattern value="TUR.*"/>
			<xs:pattern value="TUC.*"/>
			<xs:pattern value="TUV.*"/>
			<xs:pattern value="EAU.*"/>
			<xs:pattern value="UA .*"/>
			<xs:pattern value="H  .*"/>
			<xs:pattern value="ROU.*"/>
			<xs:pattern value="USB.*"/>
			<xs:pattern value="VAN.*"/>
			<xs:pattern value="V  .*"/>
			<xs:pattern value="YV .*"/>
			<xs:pattern value="UAE.*"/>
			<xs:pattern value="USA.*"/>
			<xs:pattern value="VN .*"/>
			<xs:pattern value="BY .*"/>
			<xs:pattern value="RCA.*"/>
			<xs:pattern value="CY .*"/>
			<xs:pattern value="   .*">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Für nicht aufgeführte Länder</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<!-- B -->
	<xs:simpleType name="BundeslandSType">
		<xs:union memberTypes="elster:allg_BundeslandSType"/>
	</xs:simpleType>
	<xs:simpleType name="allg_BundeslandSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">In welchen E-Speicher Bundesland befindet sich die Bescheinigung</xs:documentation>
			<xs:documentation xml:lang="DE">Abkürzungen gem. Elster Projekthandbuch Datensatzbeschreibung</xs:documentation>
			<xs:documentation xml:lang="DE">BW = Baden-Würtemberg</xs:documentation>
			<xs:documentation xml:lang="DE">BY = Bayern</xs:documentation>
			<xs:documentation xml:lang="DE">BE = Berlin</xs:documentation>
			<xs:documentation xml:lang="DE">BB = Brandenburg</xs:documentation>
			<xs:documentation xml:lang="DE">HB = Bremen</xs:documentation>
			<xs:documentation xml:lang="DE">HH = Hamburg</xs:documentation>
			<xs:documentation xml:lang="DE">HE = Hessen</xs:documentation>
			<xs:documentation xml:lang="DE">MV = Mecklenburg-Vorpommern</xs:documentation>
			<xs:documentation xml:lang="DE">ND = Niedersachsen</xs:documentation>
			<xs:documentation xml:lang="DE">NW = Nordrhein-Westfalen</xs:documentation>
			<xs:documentation xml:lang="DE">RP = Rheinland-Pfalz</xs:documentation>
			<xs:documentation xml:lang="DE">SL = Saarland</xs:documentation>
			<xs:documentation xml:lang="DE">SN = Sachsen</xs:documentation>
			<xs:documentation xml:lang="DE">ST = Sachsen-Anhalt</xs:documentation>
			<xs:documentation xml:lang="DE">SH = Scheswig-Holstein</xs:documentation>
			<xs:documentation xml:lang="DE">TH = Thüringen</xs:documentation>
			<xs:documentation xml:lang="DE">EC = ElsterCountry "Testbundesland"</xs:documentation>
			<xs:documentation xml:lang="DE">CS = Clearingstelle"</xs:documentation>
			<xs:documentation xml:lang="DE">BFF = Bundesamt für Finanzen"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BW"/>
			<xs:enumeration value="BY"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BB"/>
			<xs:enumeration value="HB"/>
			<xs:enumeration value="HH"/>
			<xs:enumeration value="HE"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="NW"/>
			<xs:enumeration value="RP"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="SN"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="TH"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="BFF"/>
			<xs:enumeration value="CS"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- C -->
	<!-- D -->
	<xs:simpleType name="DatumSType">
		<xs:union memberTypes="elster:allg_DatumSType"/>
	</xs:simpleType>
	<xs:simpleType name="allg_DatumSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum und Uhrzeit</xs:documentation>
			<xs:documentation xml:lang="DE">JJJJMMTThhmmss:Zahl, 14-stellig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_Datum8SType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum 8stellig ohne Trennzeichen</xs:documentation>
			<xs:documentation xml:lang="DE">JJJJMMTT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}[0-12][0-9][0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_Datum_JahrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Jahr 4 stellig JJJJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- E -->
	<xs:simpleType name="allg_ETINSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">die 14stellige eTIN lt. eTIN-Dokumentation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{8}\d{2}[A-L]{1}[0][1-9][A-Z]{1}"/>
			<xs:pattern value="[A-Z]{8}\d{2}[A-L]{1}[1-2][0-9][A-Z]{1}"/>
			<xs:pattern value="[A-Z]{8}\d{2}[A-L]{1}[3][0-1][A-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- F -->
	<!-- G -->
	<!-- H -->
	<xs:simpleType name="allg_HausnummerSType">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="1000000000"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_HerstellerIDSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- I -->
	<!-- J -->
	<!-- K -->
	<xs:simpleType name="allg_KonfessionSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">ev = Evangelische Kirchensteuer</xs:documentation>
			<xs:documentation xml:lang="DE">lt = Evangelisch lutherisch</xs:documentation>
			<xs:documentation xml:lang="DE">rf = Evangelisch reformiert</xs:documentation>
			<xs:documentation xml:lang="DE">fr = Französisch reformiert</xs:documentation>
			<xs:documentation xml:lang="DE">ak = Altkatholische Kirchensteuer</xs:documentation>
			<xs:documentation xml:lang="DE">is = Israelitische Kultussteuer Frankfurt</xs:documentation>
			<xs:documentation xml:lang="DE">fb = Kirchensteuer der Freireligiösen Landesgemeinde Baden </xs:documentation>
			<xs:documentation xml:lang="DE">ib = Kirchensteuer der Israelitischen Religionsgemeinschaft Baden</xs:documentation>
			<xs:documentation xml:lang="DE">iw = Kirchensteuer der Israelitischen Religionsgemeinschaft Württembergs</xs:documentation>
			<xs:documentation xml:lang="DE">fg = Freireligiöse Landesgemeinde Pfalz</xs:documentation>
			<xs:documentation xml:lang="DE">fm = Freireligiöse Gemeinde Mainz</xs:documentation>
			<xs:documentation xml:lang="DE">fs = Freireligiöse Gemeinde Offenbach/Mainz</xs:documentation>
			<xs:documentation xml:lang="DE">fa = Freie Religionsgemeinschaft Alzey</xs:documentation>
			<xs:documentation xml:lang="DE">il = Israelitische Kultussteuer der Kultusberechtigten Gemeinden</xs:documentation>
			<xs:documentation xml:lang="DE">jd = Jüdische Kultussteuer</xs:documentation>
			<xs:documentation xml:lang="DE">rk = Römisch-Katholische Kirchensteuer</xs:documentation>
			<xs:documentation xml:lang="DE">-- = für Steuerpflichtige mit Wohnsitz im Ausland</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ev"/>
			<xs:enumeration value="lt"/>
			<xs:enumeration value="rf"/>
			<xs:enumeration value="fr"/>
			<xs:enumeration value="ak"/>
			<xs:enumeration value="is"/>
			<xs:enumeration value="fb"/>
			<xs:enumeration value="ib"/>
			<xs:enumeration value="iw"/>
			<xs:enumeration value="fg"/>
			<xs:enumeration value="fm"/>
			<xs:enumeration value="fs"/>
			<xs:enumeration value="fa"/>
			<xs:enumeration value="il"/>
			<xs:enumeration value="jd"/>
			<xs:enumeration value="rk"/>
			<xs:enumeration value="--"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- L -->
	<xs:simpleType name="allg_LaenderschluesselSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">gem. BFA Dokumentation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
            <xs:pattern value="132"/>
			<xs:pattern value="423"/>
			<xs:pattern value="287"/>
			<xs:pattern value="121"/>
			<xs:pattern value="221"/>
			<xs:pattern value="399"/>
			<xs:pattern value="599"/>
			<xs:pattern value="123"/>
			<xs:pattern value="223"/>
			<xs:pattern value="395"/>
			<xs:pattern value="395"/>
			<xs:pattern value="320"/>
			<xs:pattern value="274"/>
			<xs:pattern value="323"/>
			<xs:pattern value="422"/>
			<xs:pattern value="425"/>
			<xs:pattern value="225"/>
			<xs:pattern value="523"/>
			<xs:pattern value="324"/>
			<xs:pattern value="424"/>
			<xs:pattern value="460"/>
			<xs:pattern value="322"/>
			<xs:pattern value="124"/>
			<xs:pattern value="330"/>
			<xs:pattern value="229"/>
			<xs:pattern value="395"/>
			<xs:pattern value="426"/>
			<xs:pattern value="326"/>
			<xs:pattern value="122"/>
			<xs:pattern value="227"/>
			<xs:pattern value="327"/>
			<xs:pattern value="395"/>
			<xs:pattern value="429"/>
			<xs:pattern value="125"/>
			<xs:pattern value="258"/>
			<xs:pattern value="291"/>
			<xs:pattern value="599"/>
			<xs:pattern value="332"/>
			<xs:pattern value="479"/>
			<xs:pattern value="527"/>
			<xs:pattern value="334"/>
			<xs:pattern value="231"/>
			<xs:pattern value="126"/>
			<xs:pattern value="333"/>
			<xs:pattern value="335"/>
			<xs:pattern value="230"/>
			<xs:pattern value="336"/>
			<xs:pattern value="337"/>
			<xs:pattern value="224"/>
			<xs:pattern value="127"/>
			<xs:pattern value="395"/>
			<xs:pattern value="126"/>
			<xs:pattern value="526"/>
			<xs:pattern value="128"/>
			<xs:pattern value="129"/>
			<xs:pattern value="399"/>
			<xs:pattern value="599"/>
			<xs:pattern value="236"/>
			<xs:pattern value="237"/>
			<xs:pattern value="430"/>
			<xs:pattern value="238"/>
			<xs:pattern value="195"/>
			<xs:pattern value="340"/>
			<xs:pattern value="134"/>
			<xs:pattern value="399"/>
			<xs:pattern value="168"/>
			<xs:pattern value="399"/>
			<xs:pattern value="599"/>
			<xs:pattern value="345"/>
			<xs:pattern value="261"/>
			<xs:pattern value="259"/>
			<xs:pattern value="328"/>
			<xs:pattern value="346"/>
			<xs:pattern value="347"/>
			<xs:pattern value="495"/>
			<xs:pattern value="436"/>
			<xs:pattern value="437"/>
			<xs:pattern value="195"/>
			<xs:pattern value="438"/>
			<xs:pattern value="439"/>
			<xs:pattern value="135"/>
			<xs:pattern value="136"/>
			<xs:pattern value="441"/>
			<xs:pattern value="137"/>
			<xs:pattern value="355"/>
			<xs:pattern value="442"/>
			<xs:pattern value="421"/>
			<xs:pattern value="445"/>
			<xs:pattern value="138"/>
			<xs:pattern value="395"/>
			<xs:pattern value="446"/>
			<xs:pattern value="262"/>
			<xs:pattern value="348"/>
			<xs:pattern value="195"/>
			<xs:pattern value="242"/>
			<xs:pattern value="444"/>
			<xs:pattern value="447"/>
			<xs:pattern value="243"/>
			<xs:pattern value="450"/>
			<xs:pattern value="530"/>
			<xs:pattern value="349"/>
			<xs:pattern value="244"/>
			<xs:pattern value="245"/>
			<xs:pattern value="246"/>
			<xs:pattern value="434"/>
			<xs:pattern value="467"/>
			<xs:pattern value="130"/>
			<xs:pattern value="351"/>
			<xs:pattern value="448"/>
			<xs:pattern value="449"/>
			<xs:pattern value="226"/>
			<xs:pattern value="139"/>
			<xs:pattern value="451"/>
			<xs:pattern value="247"/>
			<xs:pattern value="248"/>
			<xs:pattern value="141"/>
			<xs:pattern value="142"/>
			<xs:pattern value="143"/>
			<xs:pattern value="499"/>
			<xs:pattern value="249"/>
			<xs:pattern value="256"/>
			<xs:pattern value="482"/>
			<xs:pattern value="454"/>
			<xs:pattern value="251"/>
			<xs:pattern value="145"/>
			<xs:pattern value="252"/>
			<xs:pattern value="544"/>
			<xs:pattern value="399"/>
			<xs:pattern value="239"/>
			<xs:pattern value="253"/>
			<xs:pattern value="299"/>
			<xs:pattern value="353"/>
			<xs:pattern value="545"/>
			<xs:pattern value="146"/>
			<xs:pattern value="147"/>
			<xs:pattern value="457"/>
			<xs:pattern value="395"/>
			<xs:pattern value="254"/>
			<xs:pattern value="427"/>
			<xs:pattern value="267"/>
			<xs:pattern value="531"/>
			<xs:pattern value="458"/>
			<xs:pattern value="599"/>
			<xs:pattern value="536"/>
			<xs:pattern value="354"/>
			<xs:pattern value="148"/>
			<xs:pattern value="399"/>
			<xs:pattern value="255"/>
			<xs:pattern value="232"/>
			<xs:pattern value="533"/>
			<xs:pattern value="525"/>
			<xs:pattern value="149"/>
			<xs:pattern value="456"/>
			<xs:pattern value="151"/>
			<xs:pattern value="461"/>
			<xs:pattern value="537"/>
			<xs:pattern value="357"/>
			<xs:pattern value="538"/>
			<xs:pattern value="359"/>
			<xs:pattern value="599"/>
			<xs:pattern value="361"/>
			<xs:pattern value="462"/>
			<xs:pattern value="595"/>
			<xs:pattern value="152"/>
			<xs:pattern value="153"/>
			<xs:pattern value="399"/>
			<xs:pattern value="299"/>
			<xs:pattern value="265"/>
			<xs:pattern value="154"/>
			<xs:pattern value="160"/>
			<xs:pattern value="399"/>
			<xs:pattern value="524"/>
			<xs:pattern value="257"/>
			<xs:pattern value="543"/>
			<xs:pattern value="156"/>
			<xs:pattern value="268"/>
			<xs:pattern value="472"/>
			<xs:pattern value="157"/>
			<xs:pattern value="158"/>
			<xs:pattern value="269"/>
			<xs:pattern value="271"/>
			<xs:pattern value="272"/>
			<xs:pattern value="233"/>
			<xs:pattern value="474"/>
			<xs:pattern value="155"/>
			<xs:pattern value="131"/>
			<xs:pattern value="273"/>
			<xs:pattern value="161"/>
			<xs:pattern value="431"/>
			<xs:pattern value="295"/>
			<xs:pattern value="366"/>
			<xs:pattern value="369"/>
			<xs:pattern value="263"/>
			<xs:pattern value="276"/>
			<xs:pattern value="364"/>
			<xs:pattern value="281"/>
			<xs:pattern value="475"/>
			<xs:pattern value="470"/>
			<xs:pattern value="465"/>
			<xs:pattern value="282"/>
			<xs:pattern value="476"/>
			<xs:pattern value="483"/>
			<xs:pattern value="283"/>
			<xs:pattern value="599"/>
			<xs:pattern value="541"/>
			<xs:pattern value="371"/>
			<xs:pattern value="284"/>
			<xs:pattern value="164"/>
			<xs:pattern value="285"/>
			<xs:pattern value="163"/>
			<xs:pattern value="471"/>
			<xs:pattern value="395"/>
			<xs:pattern value="540"/>
			<xs:pattern value="286"/>
			<xs:pattern value="166"/>
			<xs:pattern value="165"/>
			<xs:pattern value="365"/>
			<xs:pattern value="477"/>
			<xs:pattern value="532"/>
			<xs:pattern value="167"/>
			<xs:pattern value="367"/>
			<xs:pattern value="469"/>
			<xs:pattern value="368"/>
			<xs:pattern value="432"/>
			<xs:pattern value="169"/>
			<xs:pattern value="289"/>
			<xs:pattern value="181"/>
			<xs:pattern value="195"/>
			<xs:pattern value="295"/>
			<xs:pattern value="395"/>
			<xs:pattern value="495"/>
			<xs:pattern value="595"/>
			<xs:pattern value="199"/>
			<xs:pattern value="299"/>
			<xs:pattern value="399"/>
			<xs:pattern value="499"/>
			<xs:pattern value="599"/>
			<xs:pattern value="996"/>
			<xs:pattern value="997"/>
			<xs:pattern value="998"/>
			<xs:pattern value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- M -->
	<!-- N -->
	<xs:simpleType name="allg_NachNameSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">NachName einer Person 30 stellig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:pattern value="\c.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_NamensvorsatzSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">gem. BFA Dokumentation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:pattern value="(A|a)"/>
			<xs:pattern value="(A|a)(A|a)(N|n)( | )(D|d)(E|e)"/>
			<xs:pattern value="(A|a)(A|a)(N|n)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(A|a)(L|l)"/>
			<xs:pattern value="(A|a)(M|m)"/>
			<xs:pattern value="(A|a)(N|n)"/>
			<xs:pattern value="(A|a)(N|n)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)( | )(M|m)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)(M|m)"/>
			<xs:pattern value="(A|a)(U|u)(F|f)(F|f)( | )(M|m)"/>
			<xs:pattern value="(A|a)(U|u)(S|s)"/>
			<xs:pattern value="(A|a)(U|u)(S|s)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(A|a)(U|u)(S|s)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(A|a)(U|u)(S|s)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(B|b)"/>
			<xs:pattern value="(B|b)(E|e)"/>
			<xs:pattern value="(B|b)(E|e)(I|i)"/>
			<xs:pattern value="(B|b)(E|e)(I|i)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(B|b)(E|e)(I|i)(M|m)"/>
			<xs:pattern value="(B|b)(E|e)(N|n)"/>
			<xs:pattern value="(B|b)(E|e)(Y|y)"/>
			<xs:pattern value="(B|b)(E|e)(Y|y)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(C|c)(H|h)(E|e)"/>
			<xs:pattern value="(C|c)(I|i)(D|d)"/>
			<xs:pattern value="(D|d)"/>
			<xs:pattern value="(D|d)(.|.)"/>
			<xs:pattern value="(D|d)('|')"/>
			<xs:pattern value="(D|d)(A|a)"/>
			<xs:pattern value="(D|d)(A|a)( | )(C|c)(O|o)(S|s)(T|t)(A|a)"/>
			<xs:pattern value="(D|d)(A|a)( | )(L|l)(A|a)(S|s)"/>
			<xs:pattern value="(D|d)(A|a)( | )(S|s)(I|i)(L|l)(V|v)(A|a)"/>
			<xs:pattern value="(D|d)(A|a)(L|l)"/>
			<xs:pattern value="(D|d)(A|a)(L|l)(L|l)"/>
			<xs:pattern value="(D|d)(A|a)(L|l)(L|l)('|')"/>
			<xs:pattern value="(D|d)(A|a)(L|l)(L|l)(A|a)"/>
			<xs:pattern value="(D|d)(A|a)(L|l)(L|l)(E|e)"/>
			<xs:pattern value="(D|d)(A|a)(L|l)(L|l)(O|o)"/>
			<xs:pattern value="(D|d)(A|a)(S|s)"/>
			<xs:pattern value="(D|d)(E|e)"/>
			<xs:pattern value="(D|d)(E|e)(G|g)(L|l)(I|i)"/>
			<xs:pattern value="(D|d)(E|e)(I|i)"/>
			<xs:pattern value="(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(D|d)(E|e)( | )(L|l)( | )('|')"/>
			<xs:pattern value="(D|d)(E|e)( | )(L|l)(A|a)"/>
			<xs:pattern value="(D|d)(E|e)( | )(L|l)(A|a)(S|s)"/>
			<xs:pattern value="(D|d)(E|e)( | )(L|l)(E|e)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)( | )(C|c)(O|o)(Z|z)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(I|i)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)('|')"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)(A|a)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)(E|e)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)(I|i)"/>
			<xs:pattern value="(D|d)(E|e)(L|l)(L|l)(O|o)"/>
			<xs:pattern value="(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(D|d)(E|e)(S|s)"/>
			<xs:pattern value="(D|d)(I|i)"/>
			<xs:pattern value="(D|d)(I|i)(T|t)"/>
			<xs:pattern value="(D|d)(O|o)"/>
			<xs:pattern value="(D|d)(O|o)( | )(C|c)(E|e)(U|u)"/>
			<xs:pattern value="(D|d)(O|o)(N|n)"/>
			<xs:pattern value="(D|d)(O|o)(S|s)"/>
			<xs:pattern value="(D|d)(O|o)(S|s)( | )(S|s)(A|a)(N|n)(T|t)(O|o)(S|s)"/>
			<xs:pattern value="(D|d)(U|u)"/>
			<xs:pattern value="(D|d)(Y|y)"/>
			<xs:pattern value="(E|e)(L|l)"/>
			<xs:pattern value="(G|g)"/>
			<xs:pattern value="(G|g)(E|e)(N|n)"/>
			<xs:pattern value="(G|g)(I|i)(L|l)"/>
			<xs:pattern value="(G|g)(L|l)(I|i)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|s)(S|s)(E|e)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|ß)(S|e)"/>
			<xs:pattern value="(I|i)"/>
			<xs:pattern value="(I|i)(M|m)"/>
			<xs:pattern value="(I|i)(N|n)"/>
			<xs:pattern value="(I|i)(N|n)( | )(D|d)(E|e)"/>
			<xs:pattern value="(I|i)(N|n)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(I|i)(N|n)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(I|i)(N|n)( | )(H|h)(E|e)(T|t)"/>
			<xs:pattern value="(I|i)(N|n)('|')(T|t)"/>
			<xs:pattern value="(K|k)(L|l)"/>
			<xs:pattern value="(K|k)(L|l)(E|e)(I|i)(N|n)(E|e)"/>
			<xs:pattern value="(L|l)"/>
			<xs:pattern value="(L|l)(.|.)"/>
			<xs:pattern value="(L|l)('|')"/>
			<xs:pattern value="(L|l)(A|a)"/>
			<xs:pattern value="(L|l)(E|e)"/>
			<xs:pattern value="(L|l)(E|e)(E|e)"/>
			<xs:pattern value="(L|l)(I|i)"/>
			<xs:pattern value="(L|l)(O|o)"/>
			<xs:pattern value="(M|m)"/>
			<xs:pattern value="(M|m)(C|c)"/>
			<xs:pattern value="(M|m)(A|a)(C|c)"/>
			<xs:pattern value="(N|n)"/>
			<xs:pattern value="(O|o)"/>
			<xs:pattern value="(O|o)('|')"/>
			<xs:pattern value="(O|o)(P|p)"/>
			<xs:pattern value="(O|o)(P|p)( | )(D|d)(E|e)"/>
			<xs:pattern value="(O|o)(P|p)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(O|o)(P|p)( | )(G|g)(E|e)(N|n)"/>
			<xs:pattern value="(O|o)(P|p)( | )(H|h)(E|e)(T|t)"/>
			<xs:pattern value="(O|o)(P|p)( | )(T|t)(E|e)"/>
			<xs:pattern value="(O|o)(P|p)( | )(T|t)(E|e)(N|n)"/>
			<xs:pattern value="(P|p)(L|l)(A|a)"/>
			<xs:pattern value="(P|p)(R|r)(O|o)"/>
			<xs:pattern value="(S|s)"/>
			<xs:pattern value="(S|s)(T|t)(.|.)"/>
			<xs:pattern value="(T|t)"/>
			<xs:pattern value="(T|t)(E|e)"/>
			<xs:pattern value="(T|t)(E|e)(N|n)"/>
			<xs:pattern value="(T|t)(E|e)(R|r)"/>
			<xs:pattern value="(T|t)(H|h)(I|i)"/>
			<xs:pattern value="(T|t)(H|h)(O|o)"/>
			<xs:pattern value="(T|t)(H|h)(O|o)(M|m)"/>
			<xs:pattern value="(T|t)(H|h)(O|o)(R|r)"/>
			<xs:pattern value="(T|t)(H|h)(U|u)(M|m)"/>
			<xs:pattern value="(T|t)(O|o)"/>
			<xs:pattern value="(T|t)(O|o)(M|m)"/>
			<xs:pattern value="(T|t)(O|o)(R|r)"/>
			<xs:pattern value="(T|t)(U|u)"/>
			<xs:pattern value="(T|t)(U|u)(M|m)"/>
			<xs:pattern value="(U|u)(N|n)(T|t)(E|e)(N|n)"/>
			<xs:pattern value="(U|u)(N|n)(T|t)(E|e)(R|r)"/>
			<xs:pattern value="(U|u)(N|n)(T|t)(E|e)(R|r)(M|m)"/>
			<xs:pattern value="(V|v)(.|.)"/>
			<xs:pattern value="(V|v)(.|.)( | )(D|d)(.|.)"/>
			<xs:pattern value="(V|v)(.|.)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(.|.)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(.|.)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(.|.)(D|d)(.|.)"/>
			<xs:pattern value="(V|v)(.|.)(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(.|.)(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(.|.)(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(D|d)(E|e)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)(D|d)(E|e)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(G|g)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(H|h)(E|e)(T|t)"/>
			<xs:pattern value="(V|v)(A|a)(N|n)( | )(T|t)"/>
			<xs:pattern value="(V|v)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(E|e)(N|n)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)"/>
			<xs:pattern value="(V|v)(O|o)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(M|m)( | )(U|u)(N|n)(D|d)( | )(Z|z)(U|u)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(U|u)(N|n)(D|d)( | )(Z|z)(U|u)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(U|u)(N|n)(D|d)( | )(Z|z)(U|u)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(U|u)(N|n)(D|d)( | )(Z|z)(U|u)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(D|d)(E|e)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(L|l)(A|a)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(Z|z)(U|u)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(Z|z)(U|u)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(Z|z)(U|u)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)(D|d)(E|e)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(E|e)(I|i)(N|n)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(N|n)( | )(M|m)(A|a)(S|s)(T|t)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)( | )(D|d)(E|e)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)( | )(D|d)(E|e)(N|n)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)( | )(D|d)(E|e)(R|r)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)(M|m)"/>
			<xs:pattern value="(V|v)(O|o)(R|r)(N|n)"/>
			<xs:pattern value="(Y|y)"/>
			<xs:pattern value="(Y|y)( | )(D|d)(E|e)(L|l)"/>
			<xs:pattern value="(Z|z)(U|u)"/>
			<xs:pattern value="(Z|z)(U|u)(M|m)"/>
			<xs:pattern value="(Z|z)(U|u)(R|r)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_NamenszusatzSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">gem. BFA Dokumentation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
			<xs:pattern value="(B|b)(A|a)(R|r)"/>
			<xs:pattern value="(B|b)(A|a)(R|r)(O|o)(N|n)"/>
			<xs:pattern value="(B|b)(A|a)(R|r)(O|o)(N|n)(E|e)(S|s)(S|s)(E|e)"/>
			<xs:pattern value="(B|b)(A|a)(R|r)(O|o)(N|n)(I|i)(N|n)"/>
			<xs:pattern value="(B|b)(R|r)(A|a)(N|n)(D|d)"/>
			<xs:pattern value="(C|c)(O|o)(N|n)(D|d)(E|e)(S|s)(A|a)"/>
			<xs:pattern value="(E|e)(A|a)(R|r)(L|l)"/>
			<xs:pattern value="(E|e)(D|d)(L|l)(E|e)"/>
			<xs:pattern value="(E|e)(D|d)(L|l)(E|e)(R|r)"/>
			<xs:pattern value="(E|e)(R|r)(B|b)(G|g)(R|r)(A|a)(F|f)"/>
			<xs:pattern value="(E|e)(R|r)(B|b)(P|p)(R|r)(I|i)(N|n)(Z|z)"/>
			<xs:pattern value="(F|f)(F|f)(R|r)"/>
			<xs:pattern value="(F|f)(R|r)(E|e)(I|i)(F|f)(R|r)"/>
			<xs:pattern value="(F|f)(R|r)(E|e)(I|i)(F|f)(R|r)(A|a)(U|u)"/>
			<xs:pattern value="(F|f)(R|r)(E|e)(I|i)(H|h)"/>
			<xs:pattern value="(F|f)(R|r)(E|e)(I|i)(H|h)(E|e)(R|r)(R|r)"/>
			<xs:pattern value="(F|f)(R|r)(E|e)(I|i)(I|i)(N|n)"/>
			<xs:pattern value="(F|f)(R|r)(F|f)"/>
			<xs:pattern value="(F|f)(R|r)(F|f)(.|.)"/>
			<xs:pattern value="(F|f)(R|r)(F|f)(R|r)"/>
			<xs:pattern value="(F|f)(R|r)(F|f)(R|r)(.|.)"/>
			<xs:pattern value="(F|f)(R|r)(H|h)"/>
			<xs:pattern value="(F|f)(R|r)(H|h)(.|.)"/>
			<xs:pattern value="(F|f)(R|r)(H|h)(R|r)"/>
			<xs:pattern value="(F|f)(R|r)(H|h)(R|r)(.|.)"/>
			<xs:pattern value="(F|f)(S|s)(T|t)"/>
			<xs:pattern value="(F|f)(S|s)(T|t)(.|.)"/>
			<xs:pattern value="(F|f)(S|s)(T|t)(N|n)"/>
			<xs:pattern value="(F|f)(S|s)(T|t)(N|n)(.|.)"/>
			<xs:pattern value="(F|f)(Ü|ü)(R|r)(S|s)(T|t)"/>
			<xs:pattern value="(F|f)(U|u)(E|e)(R|r)(S|s)(T|t)"/>
			<xs:pattern value="(F|f)(Ü|ü)(R|r)(S|s)(T|t)(I|i)(N|n)"/>
			<xs:pattern value="(F|f)(U|u)(E|e)(R|r)(S|s)(T|t)(I|i)(N|n)"/>
			<xs:pattern value="(G|g)(R|r)"/>
			<xs:pattern value="(G|g)(R|r)(A|a)(F|f)"/>
			<xs:pattern value="(G|g)(R|r)(Ä|ä)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(G|g)(R|r)(A|a)(E|e)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(G|g)(R|r)(F|f)"/>
			<xs:pattern value="(G|g)(R|r)(F|f)(N|n)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|s)(S|s)(H|h)(E|e)(R|r)(Z|z)(O|o)(G|g)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|ß)(S|h)(H|e)(E|r)(R|z)(Z|o)(O|g)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|s)(S|s)(H|h)(E|e)(R|r)(Z|z)(O|o)(G|g)(I|i)(N|n)"/>
			<xs:pattern value="(G|g)(R|r)(O|o)(S|ß)(S|h)(H|e)(E|r)(R|z)(Z|o)(O|g)(G|i)(I|n)"/>
			<xs:pattern value="(H|h)(E|e)(R|r)(Z|z)(O|o)(G|g)"/>
			<xs:pattern value="(H|h)(E|e)(R|r)(Z|z)(O|o)(G|g)(I|i)(N|n)"/>
			<xs:pattern value="(J|j)(H|h)(R|r)"/>
			<xs:pattern value="(J|j)(H|h)(R|r)(.|.)"/>
			<xs:pattern value="(J|j)(O|o)(N|n)(K|k)(H|h)(E|e)(E|e)(R|r)"/>
			<xs:pattern value="(J|j)(U|u)(N|n)(K|k)(E|e)(R|r)"/>
			<xs:pattern value="(L|l)(A|a)(N|n)(D|d)(G|g)(R|r)(A|a)(F|f)"/>
			<xs:pattern value="(L|l)(A|a)(N|n)(D|d)(G|g)(R|r)(Ä|ä)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(L|l)(A|a)(N|n)(D|d)(G|g)(R|r)(A|a)(E|e)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(M|m)(A|a)(R|r)(Q|q)(U|u)(E|e)(S|s)"/>
			<xs:pattern value="(M|m)(A|a)(R|r)(Q|q)(U|u)(I|i)(S|s)"/>
			<xs:pattern value="(M|m)(A|a)(R|r)(S|s)(C|c)(H|h)(A|a)(L|l)(L|l)"/>
			<xs:pattern value="(O|o)(S|s)(T|t)(O|o)(J|j)(A|a)"/>
			<xs:pattern value="(P|p)(R|r)(I|i)(N|n)(Z|z)"/>
			<xs:pattern value="(P|p)(R|r)(I|i)(N|n)(Z|z)(E|e)(S|s)(S|s)(I|i)(N|n)"/>
			<xs:pattern value="(P|p)(R|r)(Z|z)(I|i)(N|n)"/>
			<xs:pattern value="(R|r)(A|a)(B|b)(E|e)"/>
			<xs:pattern value="(R|r)(E|e)(I|i)(C|c)(H|h)(S|s)(G|g)(R|r)(A|a)(F|f)"/>
			<xs:pattern value="(R|r)(E|e)(I|i)(C|c)(H|h)(S|s)(G|g)(R|r)(Ä|ä)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(R|r)(E|e)(I|i)(C|c)(H|h)(S|s)(G|g)(R|r)(A|a)(E|e)(F|f)(I|i)(N|n)"/>
			<xs:pattern value="(R|r)(I|i)(T|t)(T|t)(E|e)(R|r)"/>
			<xs:pattern value="(R|r)(R|r)"/>
			<xs:pattern value="(T|t)(R|r)(U|u)(C|c)(H|h)(S|s)(E|e)(S|s)(S|s)"/>
			<xs:pattern value="(T|t)(R|r)(U|u)(C|c)(H|h)(S|s)(E|e)(S|ß)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NutzdatenBlockTicketSType">
		<xs:union memberTypes="elster:allg_NutzdatenBlockTicketSType"/>
	</xs:simpleType>
	<xs:simpleType name="allg_NutzdatenBlockTicketSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Ticket für Fehlerbehandlung wird vom Datenlieferant gefüllt muss in der Datenlieferung eindeutig sein</xs:documentation>
			<xs:documentation xml:lang="DE">20stellig Alphanummerisch</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- O -->
	<xs:simpleType name="allg_OrtSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Teil einer Adresse </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
			<xs:pattern value=".*([A-Z]|[a-z]).*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- P -->
	<xs:simpleType name="allg_PLZSType">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="100000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_PostfachSType">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="100000000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Q -->
	<!-- R -->
	<!-- S -->
	<xs:simpleType name="allg_SteuerklasseSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE"> Die für den Lohnsteuerabzug maßgebliche Lohnsteuerklasse gem. Lohnsteuerkarte bzw. besonderer Lohnsteuerbescheinigung. Die Steuerklasse "0" ist ausschließlich bei besonderen Lohnsteurbescheinigungen zulässig für Arbeitnehmer mit Wohnsitz im Ausland, deren Arbeitslohn gem. Doppelbesteuerungsabkommen steuerfrei ist.  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_StNrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">gemäß Elster Developers Toolkit </xs:documentation>
			<xs:documentation xml:lang="DE">13 stellig Nummerisch </xs:documentation>
			<xs:documentation xml:lang="DE">Bundesfinanzamtsnummer + 0 + Bezirk +  Unterscheidungsnr. + Prüfziffer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}0\d{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_StrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Name der Strasse 33 stellig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="33"/>
			<xs:pattern value=".*([A-Z]|[a-z]).*"/>
			<xs:pattern value="\c.*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- T -->
	<xs:simpleType name="allg_TitelSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:pattern value=".*([A-Z]|[a-z]).*"/>
			<xs:pattern value="\c.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransferTicketSType">
		<xs:union memberTypes="elster:allg_TransferTicketSType"/>
	</xs:simpleType>
	<xs:simpleType name="allg_TransferTicketSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">TransferTicket</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{19}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_TTMM">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- U -->
	<!-- V -->
	<xs:simpleType name="VersionSType">
		<xs:union memberTypes="elster:allg_VersionSType"/>
	</xs:simpleType>
	<xs:simpleType name="allg_VersionSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">version = 6stellige Versionsnummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allg_VornameSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">VorName einer Person 30 stellig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:pattern value="\c.*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- W -->
	<!-- X -->
	<!-- Y -->
	<!-- Z -->
	<xs:simpleType name="Zahl4">
		<xs:union memberTypes="elster:allg_Zahl4"/>
	</xs:simpleType>
	<xs:simpleType name="allg_Zahl4">
		<xs:annotation>
			<xs:documentation xml:lang="DE">4stellige Zahl</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Definierung globaler complex Types __________________________________________________ -->
	<!-- nur noch in den einzelnen Schemata zu den Fachverfahren -->
</xs:schema>
